<launch>
    <node pkg="construction_check" type="tof_test" name="tof_test" />
    <node pkg="construction_check" type="ultrasonic_test" name="ultrasonic_test" />

    <node pkg="controls" type="controller" name="controller" />
    <node pkg="sensors" type="tof_sensor" name="tof_sensor" />
    <node pkg="sensors" type="ultrasonic_sensor" name="ultrasonic_sensor" />
</launch>
