<launch>
	<!-- Command line arguments -->
	<arg name="speed_r" default="70" />
	<arg name="speed_l" default="70" />

	<!-- Nodes to run -->
	<node pkg="construction_check" type="arc_test" name="arc_test">
		<param name="speed_r" type="int" value="$(arg speed_r)" />
		<param name="speed_l" type="int" value="$(arg speed_l)" />
	</node>
	<node pkg="controls" type="controller" name="controller" />
</launch>
